// ---------------------------------------------------------------------------
//  BROWSER
// ---------------------------------------------------------------------------
.container {
  left: 50%;
  top: 25%;
  margin-left: -325px;
  width: 650px;
  #moon { margin-left: 0 !important; }
  #moon, #phase { left: 0; }
  h1 {
    font-size: @font-size + 25;
    right: 5px;
    text-align: right;
    top: 8%;
    width: auto;
  }
  p {
    right: 68px;
    text-align: left;
    top: 18.5%;
    width: auto;
  }
  .icons {
    left: auto;
    margin-left: 0;
    right: 0;
    top: 28%;
    .icon { margin-left: 4px; }
  }
  #phase {
    left: auto;
    &.waning-gibbous { margin-left: -100px; }
    &.first-quarter { margin-left: -135px; }
    &.last-quarter { margin-left: 140px; }
    &.waxing-gibbous { margin-left: 0; }
    &.waning-crescent { margin-left: 25px; }
    &.waxing-crescent { margin-left: -25px; }
  }
}
